body{
    margin: 0;
    font-family: sans-serif;
    background: rgb(19,0,36);
    background: linear-gradient(90deg, rgba(19,0,36,1) 0%, rgba(46,4,77,1) 84%);
    text-align: center;
    color: rgb(233, 148, 68);
}
header{
    padding: 20px 0;
    background: black;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.button {
    background: none;
    color: white;
    transition-duration: 0.4s;
    border-radius: 100px;
    border: none;
    padding: 7px 10px;
  }
  
.button:hover {
    background-color: rgb(74, 88, 211); 
    color: white;
  }
.button:focus {
    background-color: rgb(74, 88, 211); 
    color: white;
  }
section{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed black;
}
img{
    width: 30%;
}
span{
    color: white;
    font-weight: 500;
    margin-top: 30px;
    font-size: 20px;
}
table{
    border: 2px solid black;
    margin: 40px;
}
.tier{
    color: rgb(160, 205, 223);
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

td img{
    height: 80px;
    width: auto;
}
tr{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hidden{
	display: none;
}